{% extends 'base.html.twig' %}

{% block title %}{{ 'home.content.title'|trans }}{% endblock %}

{% block body %}
{% if patientsAnomalies|length > 0 %}
    <section class="card patients-anomaly mb-3">
        <h2 class="card-header">
            <i class="bi bi-exclamation-triangle"></i>
            {{ 'patient_anomaly.content.header'|trans }}
        </h2>
        <div class="card-body">
            <ul class="list-group">
                {% for anomaly, patientsAnomaly in patientsAnomalies %}
                    {% for patientAnomaly in patientsAnomaly %}
                        {% include "home/patient_anomaly_item.html.twig" with {
                            patient: patientAnomaly,
                            anomaly: anomaly,
                        } %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </section>
{% endif %}

<section class="card activity">
    <h2 class="card-header">
        <i class="bi bi-clock-history"></i>
        {{ 'activity.content.header'|trans({'%daysSince%': daysSince}) }}
    </h2>
    <div class="card-body">
        <ul class="list-group">
            {% for touchedEntity in touchedEntities %}
            {% include "home/activity_item.html.twig" with { entity: touchedEntity } %}
            {% endfor %}
        </ul>
        
        {% if moreDays %}
        <a class="d-block text-center mt-2" href="{{ url('home', {daysSince: moreDays}) }}">{{ 'activity.content.more_days'|trans({'%days%': moreDays}) }}</a>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block stylesheets %}
{{ parent() }}

<style>
span.patient {
    font-weight: bold;
}

.activity .doctor {
    background-color: lightgray;
}
</style>
{% endblock %}