{% extends 'base.html.twig' %}

{% block title %}{{ 'home.content.title'|trans }}{% endblock %}

{% block body %}

<section class="card activity">
    <h2 class="card-header">
        <i class="bi bi-clock-history"></i>
        {{ 'activity.content.header'|trans({'%daysSince%': daysSince}) }}
    </h2>
    <div class="card-body">
        <ul class="list-group">
            {% for touchedEntity in touchedEntities %}
            {% include "home/activity_item.html.twig" with { entity: touchedEntity } %}
            {% endfor %}
        </ul>
        
        {% if moreDays %}
        <a class="d-block text-center mt-2" href="{{ url('home', {daysSince: moreDays}) }}">{{ 'activity.content.more_days'|trans({'%days%': moreDays}) }}</a>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block stylesheets %}
{{ parent() }}

<style>
.activity .patient {
    font-weight: bold;
}

.activity .doctor {
    background-color: lightgray;
}
</style>
{% endblock %}