{% if careRequest.active %}
{% set badgeClass = 'bg-primary' %}
{% elseif careRequest.archived %}
{% set badgeClass = 'bg-secondary' %}
{% else %}
{% set badgeClass = 'bg-danger' %}
{% endif %}
<h3 id="care-request-heading-{{ careRequest.id }}" class="accordion-header">
    <button
        class="accordion-button {% if not showCareRequest %}collapsed{% endif %}"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#care-request-body-{{ careRequest.id }}"
        aria-expanded="{% if showCareRequest %}true{% else %}false{% endif %}"
        aria-controls="care-request-body-{{ careRequest.id }}"
    >
        {% trans with {'%creationDate%': careRequest.creationDate|date('d/m/Y')} %}Care request from %creationDate%{% endtrans %}<span class="badge rounded-pill {{ badgeClass }}">{{ careRequest.state|trans }}</span>
    </button>
</h3>
<div
    id="care-request-body-{{ careRequest.id }}"
    class="accordion-collapse collapse {% if showCareRequest %}show{% endif %}"
    data-bs-parent="#care-requests-accordion"
    aria-labelledby="care-request-heading-{{ careRequest.id }}" 
>
    <div class="accordion-body">
        {% include "patient/parts/care_request_form.html.twig" %}
        
        <section class="comments mt-3 w-75 mx-auto">
            {% if careRequest.isActive %}
                {% include 'patient/parts/care_request_comment_form.html.twig' %}
            {% endif %}
            
            <ul class="comments">
            {% for comment in careRequest.comments %}
                {% include "patient/parts/care_request_comment.html.twig" %}
            {% endfor %}
            </ul>
        </section>

    </div>
</div>