{% if careRequest.id %}
    {% set accordionHeaderId = 'care-request-heading-' ~ careRequest.id %}
    {% set accordionBodyId = 'care-request-body-' ~ careRequest.id %}
{% else %}
    {% set accordionHeaderId = 'care-request-heading-new' %}
    {% set accordionBodyId = 'care-request-body-new' %}
{% endif %}
<h3 id="{{ accordionHeaderId }}" class="accordion-header">
    <button
        class="accordion-button {% if not showCareRequest %}collapsed{% endif %}"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#{{ accordionBodyId }}"
        aria-expanded="{% if showCareRequest %}true{% else %}false{% endif %}"
        aria-controls="{{ accordionBodyId }}"
    >
        {{ 'care_request.title'|trans({'%creationDate%': careRequest.creationDate|date('d/m/Y')}) }}
        {% include "parts/care_request_badge.html.twig" with {careRequest: careRequest} %}
    </button>
</h3>
<div
    id="{{ accordionBodyId }}"
    class="accordion-collapse collapse {% if showCareRequest %}show{% endif %}"
    data-bs-parent="#care-requests-accordion"
    aria-labelledby="{{ accordionHeaderId }}"
>
    <div class="accordion-body">
        {% include "patient/parts/care_request_form.html.twig" %}
        
        <section class="comments mt-3 w-75 mx-auto">
            <ul class="comments">
            {% for comment in careRequest.comments %}
                {% include "patient/parts/care_request_comment.html.twig" %}
            {% endfor %}
            </ul>

            {% if (commentForm  ?? null) is not empty %}
                {% include 'patient/parts/care_request_comment_form.html.twig' %}
            {% endif %}
        </section>

    </div>
</div>