{% if patient.id %}
    {# le patient existe : on utilisera l'API pour les modifications #}
    {% set formVariables = { 'attr': {'onsubmit': 'submitPatient(event);'} } %}
{% endif %}
{{ form_start(patientForm, formVariables ?? {} ) }}
    <div class="form-content">

        <div class="form-group row">
            <div class="col-12 col-lg-4">
                {{ form_label(patientForm.firstname)}}
            </div>
            <div class="col-12 col-lg-8">
                {{ form_widget(patientForm.firstname) }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 col-lg-4">
                {{ form_label(patientForm.lastname)}}
            </div>
            <div class="col-12 col-lg-8">
                {{ form_widget(patientForm.lastname) }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 col-lg-4">
                {{ form_label(patientForm.birthdate)}}
            </div>
            <div class="col-12 col-lg-4">
                {{ form_widget(patientForm.birthdate) }}
            </div>
            <div class="col-12 col-lg-4">
                {{ patient.birthdate|age }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 col-lg-4">
                {{ form_label(patientForm.contact)}}
            </div>
            <div class="col-12 col-lg-8">
                {{ form_widget(patientForm.contact) }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 col-lg-4">
                {{ form_label(patientForm.phone)}}
            </div>
            <div class="col-12 col-lg-8">
                {{ form_widget(patientForm.phone) }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 col-lg-4">
                {{ form_label(patientForm.email)}}
            </div>
            <div class="col-12 col-lg-8">
                {{ form_widget(patientForm.email) }}
            </div>
        </div>

    </div>

    <div class="form-group row submit-form-group">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            {% if patientForm.create is defined %}
                {{ form_widget(patientForm.create) }}
            {% endif %}
            {% if patientForm.update is defined %}
                {{ form_widget(patientForm.update) }}
            {% endif %}
        </div>
        <div class="col-4">
            {% if patientForm.delete is defined %}
                {{ form_widget(patientForm.delete, {
                    label_translation_parameters: {'%icon%': '<i class="bi bi-trash"></i>'},
                }) }}
            {% endif %}
        </div>
    </div>
{{ form_end(patientForm) }}