{% if patient.id %}
    {# le patient existe : on utilisera l'API pour les modifications #}
    {% set formVariables = { 'attr': {'onsubmit': 'submitPatient(event);'} } %}
{% endif %}

{% form_theme patientForm 'lao_2_columns_horizontal_layout.html.twig' %}

{{ form_start(patientForm, formVariables ?? {} ) }}
    <div class="two-columns">

        {{ form_row(patientForm.firstname )}}
        {{ form_row(patientForm.lastname )}}

        <div class="mb-3 row">
            {{ form_label(patientForm.birthdate, null, {
                class: 'col-form-label col-sm-4'
            }) }}
            <div class="col-sm-4">
                {{ form_widget(patientForm.birthdate) }}
            </div>
            <div class="col-sm-4">
                {{ patient.birthdate|age }}
            </div>
        </div>

        {{ form_row(patientForm.contact) }}
        {{ form_row(patientForm.phone) }}
        {{ form_row(patientForm.email) }}
    </div>

    <div class="row mb-3">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center">
            {% if patientForm.create is defined %}
                {{ form_widget(patientForm.create) }}
            {% endif %}
            {% if patientForm.update is defined %}
                {{ form_widget(patientForm.update) }}
            {% endif %}
        </div>
        <div class="mt-2 text-center col-sm-4 mt-sm-0 text-sm-end">
            {% if patientForm.delete is defined %}
                {{ form_widget(patientForm.delete, {
                    label_translation_parameters: {'%icon%': '<i class="bi bi-trash"></i>'},
                }) }}
            {% endif %}
        </div>
    </div>
{{ form_end(patientForm) }}