{% extends 'base.html.twig' %}

{% block title %}Patient {{ patient.firstname }} {{ patient.lastname}}{% endblock %}

{% block body %}

<h1>Patient {{ patient.firstname }} {{ patient.lastname}}</h1>

<section>
    <p>
        <a data-bs-toggle="collapse" href="#info-content"><h2>Informations</h2></a>
    </p>
    <div class="collapse" id="info-content">
        {% include "patient/info.html.twig" %}
    </div>
</section>

<section>
    <p>
        <a data-bs-toggle="collapse" href="#availability-content"><h2>Disponibilités</h2></a>
    </p>
    <div class="collapse show" id="availability-content">
        {% include "patient/availability.html.twig" %}
    </div>
</section>

<section>
    <p>
        <a data-bs-toggle="collapse" href="#care-requests-content"><h2>Demandes</h2></a> <!-- TODO ne pas collapser chaque demande doit l'être -->
    </p>
    <div class="collapse" id="care-requests-content">
        {% include "patient/care_requests.html.twig" %}
    </div>
</section>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('patient') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags('patient') }}
{% endblock %}