{% extends 'base.html.twig' %}

{% block title %}{{ content.title|trans }}{% endblock %}

{% block body %}

<div id="patient-content" class="patient-content">
    <section class="identity-section card">
        <h2 class="card-header">
            {{ 'patient.info.header'|trans }}
        </h2>
        <div class="card-body" id="info-content">
            {% include "patient/info.html.twig" %}
        </div>
    </section>

    {% if patient.id %}
        {# On affiche les disponibilités / demandes que si le patient existe en bdd #}
        <section class="care-request-section card mt-3">
            <h2 class="card-header">
                <span>
                    {{ 'patient.care_requests.header'|trans }}
                </span>
                <form action="#" class="float-end" onsubmit="insertCareRequestCreationForm(event)">
                    <input type="hidden" name="careRequestCreationFormUrl" value="{{ url('care_request_creation_form', { id: patient.id}) }}">
                    <button type="submit" class="btn btn-link m-0 p-0 fs-3 text-reset">
                    <i
                        class="bi bi-clipboard-plus care-request-create-button"
                        title="{{ 'care_request.new'|trans }}"
                    ></i>
                    </button>
                </form>
            </h2>
            <div class="card-body" id="care-request-content">
                <div id="care-requests-accordion" class="accordion">
                {% if newCareRequestForm is not empty %}
                    {# inclusion du formulaire de création de care request #}
                    <div class="accordion-item">
                        {% include "patient/care_request.html.twig" with {
                            careRequest: newCareRequest,
                            careRequestForm: newCareRequestForm,
                            showCareRequest: true,
                        } %}
                    </div>
                {% endif %}
                {% for careRequestData in careRequestsData %}
                    {# inclusion du formulaire de chaque care request du patient #}
                    <div class="accordion-item">
                        {% include "patient/care_request.html.twig" with {
                            careRequest: careRequestData.careRequest,
                            showCareRequest: careRequestData.showCareRequest,
                            careRequestForm: careRequestData.careRequestForm,
                            commentForm: careRequestData.commentForm,
                        } %}
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>

        <section class="availability-section card mt-3">
            <h2 class="card-header">
                {{ 'patient.availabilities.header'|trans }}
            </h2>
            <div class="card-body" id="availability-content">
                {% include "patient/variable_schedule_form.html.twig" %}
                {% include "patient/availability.html.twig" %}
            </div>
        </section>

    {% endif %}
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('patient') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('patient') }}
{% endblock %}