{% extends 'base.html.twig' %}

{% block title %}{{ content.title|trans }}{% endblock %}

{% block body %}

<div id="message" class="alert" style="display: none;"></div>

<h1>{{ content.title|trans }}</h1>

<div id="patient-accordion" class="accordion">

    <section class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#info-content">
            {% trans %}Informations{% endtrans %}

        </h2>
        <div class="accordion-body accordion-collapse collapse show" id="info-content">
            {% include "patient/info.html.twig" %}
        </div>
    </section>

    <section class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#availability-content">
            {% trans %}Availabilities{% endtrans %}
        </h2>
        <div class="accordion-body accordion-collapse collapse show" id="availability-content">
            {% include "patient/availability.html.twig" %}
        </div>
    </section>

    <section class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#care-request-content">
            {% trans %}Care requests{% endtrans %}
        </h2>
        <div class="accordion-body accordion-collapse collapse show" id="care-request-content">
            {% include "patient/care_requests.html.twig" %}
        </div>
    </section>

</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('patient') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const patientParams = {
            urlApiPatientPut: "{{ path('api_patients_put_item', {'id': patient.id }) }}",
            urlApiCareRequestPut: "{{ path('api_care_requests_put_item', {'id': '%id%'}) }}",
            urlCareRequestForm: "{{ path('care_request_form', {'id': '%id%'}) }}",
        };
    </script>
    
    {{ encore_entry_script_tags('patient') }}
{% endblock %}