{% extends 'base.html.twig' %}

{% block title %}{{ content.title|trans }}{% endblock %}

{% block body %}

<div id="message" class="alert" style="display: none;"></div>

<h1>{{ content.title|trans }}</h1>

<section>
    <p>
        <a data-bs-toggle="collapse" href="#info-content"><h2>{% trans %}Informations{% endtrans %}</h2></a>
    </p>
    <div class="collapse" id="info-content">
        {% include "patient/info.html.twig" %}
    </div>
</section>

<section>
    <p>
        <a data-bs-toggle="collapse" href="#availability-content"><h2>{% trans %}Availabilities{% endtrans %}</h2></a>
    </p>
    <div class="collapse show" id="availability-content">
        {% include "patient/availability.html.twig" %}
    </div>
</section>

<section>
    <p>
        <h2>{% trans %}Care requests{% endtrans %}</h2>
    </p>
    <div>
        {% include "patient/care_requests.html.twig" %}
    </div>
</section>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('patient') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const patientParams = {
            urlApiPatientPut = "{{ path('api_patients_put_item', {'id': patient.id }) }}",
            urlApiCareRequestPut = "{{ path('api_care_requests_put_item', {'id': '%id%'}) }}",
            urlCareRequestForm = "{{ path('care_request_form', {'id': '%id%'}) }}",
        };
    </script>
    
    {{ encore_entry_script_tags('patient') }}
{% endblock %}