{% extends 'base.html.twig' %}

{% block title %}{{ content.title|trans }}{% endblock %}

{% block body %}

<div id="patient-content" class="patient-content">
    <section class="identity-section card">
        <h3 class="card-header">
            {% trans %}Patient{% endtrans %}
        </h3>
        <div class="card-body" id="info-content">
            {% include "patient/info.html.twig" %}
        </div>
    </section>

    <section class="availability-section card mt-3">
        <h3 class="card-header">
            {% trans %}Availabilities{% endtrans %}
        </h3>
        <div class="card-body" id="availability-content">
            {% include "patient/availability.html.twig" %}
        </div>
    </section>

    <section class="care-request-section card mt-3">
        <h3 class="card-header">
            {% trans %}Care requests{% endtrans %}
        </h3>
        <div class="card-body" id="care-request-content">
            <div id="care-requests-accordion" class="accordion">
            {% for careRequest in careRequests %}
                <div class="accordion-item">
                    {% set careRequestForm = careRequestForms[careRequest.id] %}
                    {% set showCareRequest = careRequest.active %}
                    {% include "patient/care_request.html.twig" %}
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('patient') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('patient') }}
{% endblock %}