{% extends 'base.html.twig' %}

{% block title %}{{ content.title|trans }}{% endblock %}

{% block body %}

<div id="message" class="alert" style="display: none;"></div>

<div id="patient-accordion" class="patient-content accordion">
    <section class="identity-section accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#info-content">
            {% trans %}Patient{% endtrans %}

        </h2>
        <div class="accordion-body accordion-collapse collapse show" id="info-content">
            {% include "patient/info.html.twig" %}
        </div>
    </section>

    <section class="availability-section accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#availability-content">
            {% trans %}Availabilities{% endtrans %}
        </h2>
        <div class="accordion-body accordion-collapse collapse show" id="availability-content">
            {% include "patient/availability.html.twig" %}
        </div>
    </section>

    <section class="care-request-section accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#care-request-content">
            {% trans %}Care requests{% endtrans %}
        </h2>
        <div class="accordion-body accordion-collapse collapse show" id="care-request-content">
            {% include "patient/care_requests.html.twig" %}
        </div>
    </section>
</div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('patient') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const patientParams = {
            urlApiPatientPut: "{{ url('api_patients_put_item', {id: patient.id }) }}",
            urlApiCareRequestPut: "{{ url('api_care_requests_put_item', {id: '%id%'})|replace({'%25': '%'}) }}",
            uriApiCareRequest: "{{ path('api_care_requests_get_item', {id: '%id%'})|replace({'%25': '%'}) }}",
            urlCareRequestForm: "{{ url('care_request_form', {id: '%id%'})|replace({'%25': '%'}) }}",
            urlCommentPart: "{{ url('comment_part', {id: '%id%'})|replace({'%25': '%'}) }}",
            urlApiCommentPost: "{{ url('api_comments_post_collection') }}",
            uriApiDoctor: "{{ path('api_doctors_get_item', {id: '%id%'})|replace({'%25': '%'}) }}",
        };
    </script>
    
    {{ encore_entry_script_tags('patient') }}
{% endblock %}