{% extends 'base.html.twig' %}

{% block title %}{{ 'notifications.content.title'|trans }}{% endblock %}

{% block body %}

<section class="card notifications">
    <h2 class="card-header">
        <i class="bi bi-bell"></i>
        {{ headerLabel|trans }}
        {% if markAllReadUrl is defined %}
            <a href="{{ markAllReadUrl }}" class="text-reset">
            <i class="bi bi-check-all float-end" title="{{ 'notifications.content.mark_all'|trans }}"></i>
            </a>
        {% endif %}
    </h2>
    <div class="card-body">
        {% set notificationCollection = notifications ?? pagination %}
        {% if notificationCollection|length > 0 %}
            <ul class="list-group notifications">
                {% for notification in notificationCollection %}
                {% include "notification/notification_item.html.twig" %}
                {% endfor %}
            </ul>
            
            {% if pagination is not null %}
                <div class="navigation mt-2 d-flex justify-content-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-warning">{{ 'notifications.content.no_notification'|trans }}</div>
        {% endif %}
    </div>
    <a class="text-center" href="{{ url(geminiRoute) }}">{{ geminiRouteLabel|trans }}</a>
</section>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('notification') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('notification') }}
{% endblock %}