{% form_theme careRequestForm 'lao_2_columns_horizontal_layout.html.twig' %}

{{ form_start(careRequestForm, {
    'attr': {'onsubmit': 'submitCareRequest(event)'}
}) }}

    <div class="two-columns">

        {{ form_row(careRequestForm.contactedBy) }}
        {{ form_row(careRequestForm.contactedAt) }}

        <div class="mb-3 pt-1 row"> {# le padding sert à compenser la petites du checkbox #}
            <div class="col-sm-4">
                <label class="form-label">{{ 'care_request.form.priority'| trans }}</label>
            </div>
            <div class="col-sm-8">
                {{ form_widget(careRequestForm.priority, {
                    label: false,
                }) }}
            </div>
        </div>

        {{ form_row(careRequestForm.complaint) }}
    </div>

    <div class="mb-3 row">
        <label for="care_request_customComplaint" class="col-sm-2 col-form-label">
            {{ careRequestForm.customComplaint.vars.label|trans }}
        </label>
        <div class="col-sm-10">
            {{ form_widget(careRequestForm.customComplaint, {
                attr: {
                    rows: 5,
            }}) }}
        </div>
    </div>

    <div class="mb-5 row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center">
            {% if careRequestForm.upsert is defined %}
                {{ form_widget(careRequestForm.upsert) }}
            {% endif %}
            {% if careRequestForm.reactivate is defined %}
                {{ form_widget(careRequestForm.reactivate) }}
            {% endif %}
        </div>
        <div class="mt-2 text-center col-sm-4 mt-sm-0 text-sm-end">
            {% if careRequestForm.delete is defined %}
                {{ form_widget(careRequestForm.delete, {
                    label_translation_parameters: {'%icon%': '<i class="bi bi-trash"></i>'},
                }) }}
            {% endif %}
        </div>
    </div>

    {% if careRequestForm.accept is defined %}
    <div class="row mb-5">
        <div class="col-sm-6 text-center border-end mt-0">
            <div class="mx-auto w-50">
                <div class="col-12">
                    {{ form_widget(careRequestForm.accept, {'attr': {
                        'class': 'btn btn-primary w-100',
                        'data-details-shown': 0,
                        'data-label-details-hidden': 'care_request.form.accept_action'|trans,
                        'data-label-details-shown': 'care_request.form.accept_action_details'|trans,
                    }, 'id': 'care_request_accept-' ~ careRequest.id,
                    }) }}
                </div>
                <div class="text-end">
                    <a
                        class="accept-show-details"
                        href="#acceptDetails-{{ careRequest.id }}"
                        data-bs-toggle="collapse"
                        data-accept-button-id="#care_request_accept-{{ careRequest.id }}"
                        data-label-details-shown="{{ 'care_request.form.hide_accept_details'|trans }}"
                        data-label-details-hidden="{{ 'care_request.form.show_accept_details'|trans }}"
                    >{{ 'care_request.form.show_accept_details'|trans }}
                    </a>
                </div>
                <div class="collapse" id="acceptDetails-{{ careRequest.id }}">
                    {{ form_widget(careRequestForm.acceptedBy) }}

                    <div class="mt-1 row">
                        <div class="col-2 p-0">{{ form_label(careRequestForm.acceptedAt, null, {'label_attr': {
                            'class': 'form-label col-form-label'
                        }}) }}</div>
                        <div class="col-10">{{ form_widget(careRequestForm.acceptedAt) }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mx-auto w-50">
                {{ form_widget(careRequestForm.abandon, {'attr': {
                    'class': 'btn btn-primary w-100' 
                }}) }}
                <div class="mt-1">
                {{ form_widget(careRequestForm.abandonedReason) }}
                </div>
            </div>
        </div>
    </div>

    {% endif %}

{{ form_end(careRequestForm) }}