<li class="{{ html_classes('comment', { 'opacity-0': commentHidden ?? false } ) }}">
    {% if app.user == comment.author and comment.careRequest.active %}
    <form action="#" onsubmit="submitCommentMenu(event)">
        <input type="hidden" name="comment-id" value="{{ comment.id }}">
        <menu>
            <menuitem>
                <button class="btn btn-sm btn-outline-danger" name="delete" type="submit">
                    <i class="bi bi-trash"></i>
                    {% trans %}comment.delete{% endtrans %}
                </button>
            </menuitem>
        </menu>
    </form>
    {% endif %}
    <article class="d-flex border border-2">
        <div class="flex-shrink-0 {{ app.user == comment.author ? 'order-0' : 'order-1' }}">
            <img src="https://via.placeholder.com/100" alt="{{ comment.author.firstname }}">
        </div>
        <div class="flex-grow-1 ms-3 p-2 comment-body">
            <time class="d-block mb-2 fw-lighter" datetime="{{ comment.creationDate|date('c') }}">
                {{ comment.getCreationDateNonImmutable|ago() }}
            </time>

            <p>
                {{ comment.content }}
            </p>
        </div>
    </article>
</li>