{{ form_start(careRequestForm, {
    'attr': {'onsubmit': 'submitCareRequest(event)'}
}) }}

    <div class="form-content">
        <div class="form-group row">
            <div class="col-12 col-lg-4">
                {{ form_label(careRequestForm.contactedBy) }}
            </div>
            <div class="col-12 col-lg-8">
                {{ form_widget(careRequestForm.contactedBy) }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 col-lg-4">
                {{ form_label(careRequestForm.contactedAt) }}
            </div>
            <div class="col-12 col-lg-8">
                {{ form_widget(careRequestForm.contactedAt) }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 col-lg-4">
                <label class="form-label">{{ 'care_request.form.priority'| trans }}</label>
            </div>
            <div class="col-12 col-lg-8">
                {{ form_widget(careRequestForm.priority) }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 col-lg-4">
                {{ form_label(careRequestForm.complaint) }}
            </div>
            <div class="col-12 col-lg-8">
                {{ form_widget(careRequestForm.complaint) }}
            </div>
        </div>
    </div>


    <div class="form-group row">
        <div class="col-12 col-lg-2">
            {{ form_label(careRequestForm.customComplaint) }}
        </div>
        <div class="col-12 col-lg-10">
            {{ form_widget(careRequestForm.customComplaint, {'attr': {
                'rows': 5,
            }}) }}
        </div>
    </div>

    <div class="form-group row submit-form-group">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            {% if careRequestForm.upsert is defined %}
                {{ form_widget(careRequestForm.upsert) }}
            {% endif %}
            {% if careRequestForm.reactivate is defined %}
                {{ form_widget(careRequestForm.reactivate) }}
            {% endif %}
        </div>
        <div class="col-4">
            {% if careRequestForm.delete is defined %}
                {{ form_widget(careRequestForm.delete, {
                    label_translation_parameters: {'%icon%': '<i class="bi bi-trash"></i>'},
                }) }}
            {% endif %}
        </div>
    </div>


    {% if careRequestForm.accept is defined %}
    <div class="row mt-4">
        <div class="col-12 col-lg-6 text-center border-end mt-0">
            <div class="mx-auto w-50">
                <div class="col-12">
                    {{ form_widget(careRequestForm.accept, {'attr': {
                        'class': 'btn btn-primary w-100',
                        'data-details-shown': 0,
                        'data-label-details-hidden': 'care_request.form.accept_action'|trans,
                        'data-label-details-shown': 'care_request.form.accept_action_details'|trans,
                    }, 'id': 'care_request_accept-' ~ careRequest.id,
                    }) }}
                </div>
                <div class="text-end">
                    <a
                        class="accept-show-details"
                        href="#acceptDetails-{{ careRequest.id }}"
                        data-bs-toggle="collapse"
                        data-accept-button-id="#care_request_accept-{{ careRequest.id }}"
                        data-label-details-shown="{{ 'care_request.form.hide_accept_details'|trans }}"
                        data-label-details-hidden="{{ 'care_request.form.show_accept_details'|trans }}"
                    >{{ 'care_request.form.show_accept_details'|trans }}
                    </a>
                </div>
                <div class="collapse" id="acceptDetails-{{ careRequest.id }}">
                    {{ form_widget(careRequestForm.acceptedBy) }}

                    <div class="mt-1 row">
                        <div class="col-2">{{ form_label(careRequestForm.acceptedAt, null, {'label_attr': {
                            'class': 'form-label col-form-label'
                        }}) }}</div>
                        <div class="col-10">{{ form_widget(careRequestForm.acceptedAt) }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="mx-auto w-50">
                {{ form_widget(careRequestForm.abandon, {'attr': {
                    'class': 'btn btn-primary w-100' 
                }}) }}
                <div class="mt-1">
                {{ form_widget(careRequestForm.abandonedReason) }}
                </div>
            </div>
        </div>
    </div>

    {% endif %}

{{ form_end(careRequestForm) }}