{% if careRequest.active %}
    {% set badgeClass = 'bg-primary' %}
{% elseif careRequest.archived %}
    {% set badgeClass = 'bg-secondary' %}
{% else %}
    {% set badgeClass = 'bg-danger' %}
{% endif %}
<div class="accordion-item">
    <h3 id="care-request-heading-{{ careRequest.id }}" class="accordion-header">
        <button
            class="accordion-button {% if not showCareRequest %}collapsed{% endif %}"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#care-request-form-{{ careRequest.id }}"
            aria-expanded="{% if showCareRequest %}true{% else %}false{% endif %}"
            aria-controls="care-request-form-{{ careRequest.id }}"
        >
            Demande du {{ careRequest.creationDate|date('d/m/Y') }} <span class="badge rounded-pill {{ badgeClass }}">{{ careRequest.state }}</span>
        </button>
    </h3>
    <div
        id="care-request-form-{{ careRequest.id }}"
        class="accordion-collapse collapse {% if showCareRequest %}show{% endif %}"
        data-bs-parent="#care-requests-accordion"
        aria-labelledby="care-request-heading-{{ careRequest.id }}" 
    >
        <div class="accordion-body">
            {{ form_start(careRequestForm, {
                'id': 'care-request-form-' ~ careRequest.id,
                'attr': {'onsubmit': 'submitCareRequest(event);'}
            }) }}
            <input type="hidden" name="care-request-id" value="{{ careRequest.id }}" />
            {{ form_row(careRequestForm.creationDate, {'id': 'care-request-creationDate-' ~ careRequest.id }) }}
            {{ form_row(careRequestForm.doctorCreator, {'id': 'care-request-doctorCreator-' ~ careRequest.id }) }}
            {{ form_row(careRequestForm.complaint, {'id': 'care-request-complaint-' ~ careRequest.id }) }}
            {{ form_row(careRequestForm.customComplaint, {'id': 'care-request-customComplaint-' ~ careRequest.id }) }}
            {{ form_row(careRequestForm.acceptedByDoctor, {'id': 'care-request-acceptedByDoctor-' ~ careRequest.id }) }}
            {{ form_row(careRequestForm.acceptDate, {'id': 'care-request-acceptDate-' ~ careRequest.id }) }}
            {{ form_row(careRequestForm.acceptAction, {'id': 'care-request-acceptAction' ~ careRequest.id }) }}
            {{ form_row(careRequestForm.abandonReason, {'id': 'care-request-abandonReason-' ~ careRequest.id }) }}
            {{ form_row(careRequestForm.abandonDate, {'id': 'care-request-abandonDate-' ~ careRequest.id }) }}
            {{ form_row(careRequestForm.abandonAction, {'id': 'care-request-abandonAction' ~ careRequest.id }) }}
            {{ form_row(careRequestForm.validate, {'id': 'care-request-validate-' ~ careRequest.id }) }}
            {{ form_end(careRequestForm) }}
        </div>
    </div>
</div>