<li class="{{ html_classes('comment', { 'opacity-0': commentHidden ?? false } ) }}">
    {% if app.user.id == comment.author.id and comment.careRequest.active %}
    <form action="#" onsubmit="submitCommentMenu(event)">
        <input type="hidden" name="url-api-delete" value="{{ url('api_comments_delete_item', {id: comment.id}) }}">
        <input type="hidden" name="url-get-form" value="{{ url('comment_form', {id: comment.id}) }}">
        <menu>
            <menuitem>
                <button class="btn btn-sm btn-outline-primary" name="edit" type="submit">
                    <i class="bi bi-pencil-square"></i>
                    {% trans %}comment.edit{% endtrans %}
                </button>
                <button class="btn btn-sm btn-outline-danger" name="delete" type="submit">
                    <i class="bi bi-trash"></i>
                    {% trans %}comment.delete{% endtrans %}
                </button>
            </menuitem>
        </menu>
    </form>
    {% endif %}
    <article class="d-flex border border-2">
        <div class="flex-shrink-0 {{ app.user.id == comment.author.id ? 'order-0' : 'order-1' }}">
            <img src="https://via.placeholder.com/100" alt="{{ comment.author.firstname }}">
        </div>
        <div class="flex-grow-1 ms-3 p-2 comment-body">
            <div class="mb-2">
                <time class="fw-lighter" datetime="{{ comment.creationDate|date('c') }}" title="{{ comment.creationDate|format_datetime('medium', 'short') }}">
                    {{ comment.getCreationDateNonImmutable|ago() }}
                </time>
                {% if comment.modificationDate %}
                <span class="fw-lighter">
                    &nbsp; (
                    {{ 'Edited'|trans }}
                    <time datetime="{{ comment.modificationDate|date('c') }}" title="{{ comment.modificationDate|format_datetime('medium', 'short') }}">
                        {{ comment.getModificationDateNonImmutable|ago() }}
                    </time>
                    )
                </span>
                {% endif %}
            </div>

            <p>
                {{ comment.content|raw }}
            </p>
        </div>
    </article>
</li>