<li id="comment-{{ comment.id }}" class="{{ html_classes('comment', { 'opacity-0': commentHidden ?? false } ) }}">
    <article class="d-flex border border-2">
        <div class="flex-shrink-0 {{ app.user.id == comment.author.id ? 'order-0' : 'order-1' }} author-avatar">
            <img src="{{ vich_uploader_asset(comment.author, 'avatarFile') }}" alt="{{ comment.author.firstname }}">
        </div>
        <div class="flex-grow-1 ms-3 p-2 comment-body">
            <div class="mb-2">
                <span class="fw-bold author-name">{{ comment.author.firstname }}</span>
                <time class="fw-lighter" datetime="{{ comment.createdAt|date('c') }}" title="{{ comment.createdAt|format_datetime('medium', 'short') }}">
                    {{ comment.createdAtMutable|ago() }}
                </time>
                {% if comment.modifiedAt %}
                <span class="fw-lighter">
                    &nbsp; (
                    {{ 'comment.modified_label'|trans }}
                    <time datetime="{{ comment.modifiedAt|date('c') }}" title="{{ comment.modifiedAt|format_datetime('medium', 'short') }}">
                        {{ comment.modifiedAtMutable|ago() }}
                    </time>
                    )
                </span>
                {% endif %}

                {% if app.user.id == comment.author.id and comment.careRequest.active %}
                <span class="float-end">
                    <div class="dropdown">
                        <form action="#" onsubmit="submitCommentMenu(event)">
                            <input type="hidden" name="url-api-delete" value="{{ url('api_comments_delete_item', {id: comment.id}) }}">
                            <input type="hidden" name="url-get-form" value="{{ url('comment_form', {id: comment.id}) }}">

                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                                <i class="bi bi-three-dots"></i>
                            </button>

                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <button type="submit" name="edit" class="btn btn-link ps-0 text-primary text-decoration-none">
                                        <i class="bi bi-pencil-square"></i> {{ 'comment.edit_btn'|trans }}
                                    </button>
                                </li>
                                <li class="dropdown-item">
                                    <button type="submit" name="delete" class="btn btn-link ps-0 text-danger text-decoration-none">
                                        <i class="bi bi-trash"></i>{{ 'comment.delete_btn'|trans }}
                                    </button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </span>
                {% endif %}

            </div>

            <p>
                {{ comment.content|raw }}
            </p>
        </div>
    </article>
</li>