{{ form_start(careRequestForm, {
    'attr': {'onsubmit': (careRequest.isActive or careRequest.isNew) ? 'submitCareRequest(event)' : 'reactivateCareRequest(event)'}
}) }}

    <div class="form-content">
        <div class="form-group row">
            <div class="col-12 col-lg-4">
                {{ form_label(careRequestForm.doctorCreator) }}
            </div>
            <div class="col-12 col-lg-8">
                {{ form_widget(careRequestForm.doctorCreator) }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 col-lg-4">
                {{ form_label(careRequestForm.creationDate) }}
            </div>
            <div class="col-12 col-lg-8">
                {{ form_widget(careRequestForm.creationDate) }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 col-lg-4">
                {{ form_label(careRequestForm.complaint) }}
            </div>
            <div class="col-12 col-lg-8">
                {{ form_widget(careRequestForm.complaint) }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 col-lg-4">
                {{ form_label(careRequestForm.customComplaint) }}
            </div>
            <div class="col-12 col-lg-8">
                {{ form_widget(careRequestForm.customComplaint) }}
            </div>
        </div>

        <div class="form-group row text-start">
            <div class="col-12 col-lg-4">
            </div>
            <div class="col-12 col-lg-8">
                {{ form_widget(careRequestForm.priority) }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 col-lg-4">
                {{ form_label(careRequestForm.acceptedByDoctor) }}
            </div>
            <div class="col-12 col-lg-8">
                {{ form_widget(careRequestForm.acceptedByDoctor) }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 col-lg-4">
                {{ form_label(careRequestForm.acceptDate) }}
            </div>
            <div class="col-12 col-lg-8 text-start">
                <span class="d-inline-block" style="max-width: 150px;">
                    {{ form_widget(careRequestForm.acceptDate) }}
                </span>
                {{ form_widget(careRequestForm.acceptAction) }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 col-lg-4">
                {{ form_label(careRequestForm.abandonReason) }}
            </div>
            <div class="col-12 col-lg-8">
                {{ form_widget(careRequestForm.abandonReason) }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12 col-lg-4">
                {{ form_label(careRequestForm.abandonDate) }}
            </div>
            <div class="col-12 col-lg-8 text-start">
                <span class="d-inline-block" style="max-width: 150px;">
                    {{ form_widget(careRequestForm.abandonDate) }}
                </span>
                {{ form_widget(careRequestForm.abandonAction) }}
            </div>
        </div>

        <div class="form-group row d-none d-lg-block">
            &nbsp; {# pour avoir un colonne en face demande prioritaire #}
        </div>
    </div>

    <div class="form-group row submit-form-group">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            {{ form_widget(careRequestForm.update) }}
        </div>
        <div class="col-4">
            {% if careRequestForm.delete is defined %}
                {{ form_widget(careRequestForm.delete, {
                    label_translation_parameters: {'%icon%': '<i class="bi bi-trash"></i>'},
                }) }}
            {% endif %}
        </div>
    </div>

{{ form_end(careRequestForm) }}