
<form class="comment-form clearfix" onsubmit="submitComment(event)">
    <input type="hidden" name="care-request-id" value="{{ careRequest.id }}">
    <input type="hidden" name="user-id" value="{{ app.user.id }}" />
    <input type="hidden" name="url-api-post" value="{{ url('api_comments_post_collection') }}" />
    {% if comment is defined %}
        {# Le commentaire existe : on est dans le cas de la modification d'un commentaire #}
        <input type="hidden" name="url-api-put" value="{{ url('api_comments_put_item', {id: comment.id}) }}" />
        <input type="hidden" name="comment-id" value="{{ comment.id }}" />
        <input type="hidden" name="url-get-content" value="{{ url('comment', {id: comment.id}) }}" />
    {% endif %}

    {# Si le commentaire existe, on aliment le textarea #}
    <textarea class="form-control" name="comment">{% if comment is defined %}{{ comment.content|raw }}{% endif %}</textarea>

    {% if comment is defined %}
        {# Le commentaire existe : permettre l'annulation de l'édition #}
        <button class="btn btn-primary btn-sm float-end mt-2 ms-1" name="cancel" type="submit">{{'comment.cancel'|trans}}</button>
    {% endif %}
    <button class="btn btn-primary btn-sm float-end mt-2" name="upsert" type="submit">{{ comment is defined ? 'comment.update'|trans : 'comment.add'|trans }}</button>
</form>