{{ form_start(form) }}
    {{ form_row(form.label) }}
    {{ form_row(form.requestedDoctor) }}
    {{ form_row(form.complaint) }}

    <div class="row mb-3">
        {{ form_label(form.contactedBy) }}
        <div class="col-lg-2">
            {{ form_widget(form.contactedBy) }}
        </div>
        <div class="col-lg-auto col-form-label">
            {{ form.contactedFrom.vars.label|trans }}
        </div>
        <div class="col-lg-auto">
            {{ form_widget(form.contactedFrom) }}
        </div>
        <div class="col-lg-auto col-form-label">
            {{ form.contactedTo.vars.label|trans }}
        </div>
        <div class="col-lg-auto">
            {{ form_widget(form.contactedTo) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-10">
            {{ form_errors(form.weekDay) }}
        </div>
    </div>

    <div class="row mb-3">
        {{ form_label(form.weekDay) }}
        <div class="col-lg-2">
            {{ form_widget(form.weekDay) }}
        </div>
        <div class="col-lg-auto col-form-label">
            {{ form.timeStart.vars.label|trans }}
        </div>
        <div class="col-lg-auto">
            {{ form_widget(form.timeStart) }}
        </div>
        <div class="col-lg-auto col-form-label">
            {{ form.timeEnd.vars.label|trans }}
        </div>
        <div class="col-12 col-lg-auto">
            {{ form_widget(form.timeEnd) }}
        </div>

        <div class="col-lg-3 pt-2">
            {{ form_widget(form.includeVariableSchedules) }}
        </div>
    </div>

    <div class="row mb-3">
        <label for="search_includeActiveCareRequest" class="form-label col-lg-2">{{ 'search.care_request_statut_label'|trans }}</label>
        <div class="col-lg-2">
            {{ form_widget(form.includeActiveCareRequest) }}
        </div>
        <div class="col-lg-2">
            {{ form_widget(form.includeArchivedCareRequest) }}
        </div>
        <div class="col-lg-2">
            {{ form_widget(form.includeAbandonedCareRequest) }}
        </div>
    </div>

    <div class="row">
        <div class="text-center mb-2 col-lg-6 text-lg-end pe-lg-5 mb-lg-0">
            {{ form_widget(form.submit) }}
        </div>
        <div class="text-center col-lg-6 text-lg-start ps-lg-5">
            {{ form_widget(form.reset) }}
        </div>
    </div>
{{ form_end(form) }}