<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
            <script src="{{ url('bazinga_jstranslation_js') }}"></script>
            
            <script>
                // constante globale contenant les Uri des entités de l'API pour utilisation dans les javascript
                // TODO voir si on peut faire mieux (comme bazingajstranslation)
                const apiUri = {
                    'Doctor': "{{ path('api_doctors_get_item', {id: '%id%'})|replace({'%25': '%'}) }}",
                    'Complaint': "{{ path('api_complaints_get_item', {id: '%id%'})|replace({'%25': '%'}) }}",
                    'CareRequest': "{{ path('api_care_requests_get_item', {id: '%id%'})|replace({'%25': '%'}) }}",
                };
            </script>

            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include "parts/modal.html.twig" %}

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url('home') }}">Liste attente ortho</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url('patient', {id: 1}) }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url('app_logout') }}">Logout</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link disabled">Logged as {{ app.user.email }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        </nav>

        <div class="container">
        {% block body %}{% endblock %}
        </div>
    </body>
</html>
