{% extends "base.html.twig" %}

{% block title %}{{ 'user.content.title'|trans({'%displayName%': user.displayName}) }}{% endblock %}

{% block body %}
<section class="card user">
    <h2 class="card-header">
        <i class="bi bi-person"></i>
        {{ 'user.content.header'|trans }}
    </h2>
    <div class="card-body">
       {% for message in app.flashes('success') %}
            <div class="alert alert-success mb-3">
                {{ message }}
            </div>
        {% endfor %} 

        {{ form_start(userForm, {attr: {novalidate: true}}) }}
        {{ form_row(userForm.firstname) }}
        {{ form_row(userForm.lastname) }}
        {{ form_row(userForm.email) }}

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                {{ form_errors(userForm.plainPassword.first) }}
            </div>
        </div>
        <div class="mb-3 row">
            {{ form_label(userForm.plainPassword.first) }}
            <div class="col-sm-5">
                {{ form_widget(userForm.plainPassword.first) }}
            </div>
            <div class="col-sm-5">
                {{ form_widget(userForm.plainPassword.second) }}
            </div>
        </div>

        {{ form_row(userForm.avatarFile) }}

        <div class="row mb-3 text-center">
            <div class="col">
            {{ form_widget(userForm.update) }}
            </div>
        </div>
        {{ form_end(userForm) }}
    </div>
</section>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('user') }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('user') }}
{% endblock %}